:root {
  --fucsia: #70265e;
  --yellow: #F7CE68;
  --background: background-color: #e2dcdc;
  background-image: linear-gradient(160deg, #e2dcdc 0%, #e2ecf0 50%, #80D0C7 100%);
}

header img {
  margin-top: 2vh;
  margin-left: 3vw;
  width: 8%;
}


body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  background-color: var(--background);
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px 0;
  }

.caixa{
  position: relative;
  width:940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top:10px;
  right: 0;
}
nav li {
  display: inline-block;
  margin: 0 0 0 15px;    
}
nav a {
  text-transform: uppercase;
  color:var(--fucsia);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

/* menu */

.title {
  font-size: 30px;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
#menu {
  width: 30%;
  margin: 10em auto; display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#menu button {
  width: 232px;
  height: 70px;
}

#menu button:first-child {
  width: 280px;
  font-size: larger;
  margin: 1em;
}

/* botões */
button {
  width: 232px;
  height: 50px;
  font-size: medium;
  cursor: pointer;
}

button:first-child {
  background-color: var(--fucsia);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  margin-right: 1em;
}

button:last-child {
  background-color: var(--background);
  color: var(--darkOrange);
  border: 1px solid var(--fucsia);
  border-radius: 10px;
}

/* new-word */
#new-word {
  width: 50%;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

textarea {
  width: 100%;
  height: 250px;
  border: 1px solid #e48650;
  border-radius: 10px;

  margin-bottom: 4em;
}

textarea::placeholder {
  font-size: 20px;
  color: var(--fucsia);
}

.saveWord {
  width: 30%;
  margin-bottom: 1em;
  background-color: var(--fucsia);
  color: white;
  border: 1px solid var(--fucsia);
  border-radius: 10px;
}

.textarea-buttons {
  margin-left: 1em;
}

.warning {
  display: flex;
   align-items: center;  
  margin-bottom: 1em;
}

.warning img {
  width: 20%;
}

.warning p {
  display: inline;
  font-size: 20px;
  color: var(--fucsia);
  padding-left: 1em;
  
}

.new-word-buttons {
  text-align: center;
}

/* canvas */
.hangman-game {
  text-align: center;
}


/* footer */
footer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;

}
footer p {
  font-size: 18px;
}
footer li {
  display: inline-block;
  margin-top: 0.5em;
}


footer li img {
  width:40px;
}

footer li a {
  display:inline-block;
  text-decoration: none;
  font-size: 15px;
  margin: 0 0.5em;
}

.footer-links {
  margin-top: 1em;
}

@media (max-width:500px) {
  header img {
    width: 25%;
  }

  #menu {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  #menu button {
    width: 200px;
    height: 60px;
  }

  .game-buttons button,
  #new-word button {
    margin: 0.5em auto;
    width: 150px;
    height: 50px;
    display: block;
  }

  .warning img {
    display: none;
  }

  footer {
    margin-top: 5em;
  }
}